@import "tailwindcss";

@theme {
    --font-reddit: "Reddit Mono", serif;
    --font-climate: "Climate Crisis", serif;
    --font-ibm: "IBM Plex Mono", serif;
}

body {
    background-color: #E0ECF3;
    /* background-image: url('https://i.ibb.co/cGxhbS4/thierry-meier-PKEPAe-MBOIU-unsplash.jpg');
    background-size:auto; */
    
}
